section.container
    div
        app-logo
        h1.title nuxttest
        h2.subtitle Nuxt.js project
        .links
            a.button--green(
                href="https://nuxtjs.org/"
                target="_blank") Documentation
            a.button--grey(
                href="https://github.com/nuxt/nuxt.js"
                target="_blank") GitHub