section.container
    div
        slick(
        ref="slick"
        v-bind:options="slickOptions"
        v-on:afterChange="handleAfterChange"
        v-on:beforeChange="handleBeforeChange"
        v-on:breakpoint="handleBreakpoint"
        v-on:destroy="handleDestroy"
        v-on:edge="handleEdge"
        v-on:init="handleInit"
        v-on:reInit="handleReInit"
        v-on:setPosition="handleSetPosition"
        v-on:swipe="handleSwipe"
        v-on:lazyLoaded="handleLazyLoaded"
        v-on:lazyLoadError="handleLazeLoadError"
        )
            a(href="http://placehold.it/200x100")
                img(src="http://placehold.it/200x100")
            a(href="http://placehold.it/200x100")
                img(src="http://placehold.it/200x100")
            a(href="http://placehold.it/200x100")
                img(src="http://placehold.it/200x100")
            a(href="http://placehold.it/200x100")
                img(src="http://placehold.it/200x100")
            a(href="http://placehold.it/200x100")
                img(src="http://placehold.it/200x100")
            a(href="http://placehold.it/200x100")
                img(src="http://placehold.it/200x100")



